/* you dont need this CSS in your project */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);

body {
	margin: 0;
	padding: 0;
	font: 14px arial;
	color: #444;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200
} 
h1 {
	font-size: 5em
}
h2 {
	font-size: 3.5em
}
h3 {
	font-size: 2.2em
}

nav {
	background: #333;
	text-align: center;
	padding: 1em 0;
	color: #fff
}
article {
	padding: 3em 0
}
article:nth-child(1) {
	text-align: center;
}
article:nth-child(2) {
	background: url('../img/bg01.jpg') fixed center center #333;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff !important;
	height: 600px;
}
.video-bg {
  width: 100%;
  height: auto;
}
#parallax-img-1 {
	width: 40px;
	height: auto;
}
#parallax-img-2 {
	width: 60px;
	height: auto;
	transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
#parallax-img-3 {
	width: 50px;
	height: auto;
	transform:rotate(-12deg);
  -ms-transform:rotate(-12deg); /* IE 9 */
  -webkit-transform:rotate(-12deg); /* Opera, Chrome, and Safari */
}
#parallax-img-4 {
	width: 40px;
	height: auto;
	transform:rotate(14deg);
  -ms-transform:rotate(14deg); /* IE 9 */
  -webkit-transform:rotate(14deg); /* Opera, Chrome, and Safari */
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
#parallax-img-5 {
	width: 40px;
	height: auto;
	transform:rotate(14deg);
  -ms-transform:rotate(14deg); /* IE 9 */
  -webkit-transform:rotate(14deg); /* Opera, Chrome, and Safari */
}
#parallax-img-6 {
	width: 60px;
	height: auto;
	transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}
#parallax-img-7 {
	width: 50px;
	height: auto;
	transform:rotate(-12deg);
  -ms-transform:rotate(-12deg); /* IE 9 */
  -webkit-transform:rotate(-12deg); /* Opera, Chrome, and Safari */
}
#parallax-img-8 {
	width: 40px;
	height: auto;
}
